<!--Information om hemsidan-->
<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Om oss</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="/css/Omoss.css" />
</head>
<body>
    <section class="om">
        <div class="logo">
            <img src="https://images.unsplash.com/photo-1616271049250-02a7697e99ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1426&q=80" />
            <div class="om-text">
                <h1>Om oss</h1>
                <h5>Träning & hälsa</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                    consequat sed nulla vel tempor. Vivamus ante lorem, ultrices nec
                    rhoncus ac, fringilla sed dui. Phasellus venenatis velit a viverra
                    lacinia. Sed vehicula ipsum eu bibendum luctus. Aenean scelerisque
                    dolor elit, eu congue augue elementum sed. Sed varius vitae velit id
                    pulvinar. Vestibulum augue odio, luctus elementum augue tristique,
                    porta ultricies erat. Ut pulvinar sodales congue. Aenean ut nulla
                    nec erat mollis commodo. Phasellus ac finibus ligula, ac bibendum
                    risus. Integer quis vehicula dolor, vel sagittis nunc.
                </p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; The Sweat Shop</p>
    </footer>
</body>
</html>
